<article style="background-image: url(https://raw.githubusercontent.com/EniDev911/assets/main/gatos_ai/fulls/01.jpg); background-size: cover;">
	<a class="thumbnail" href="#" data-position="left center"></a>
	<div class="text-about">
		<h2 class="hl">ACERCA DE ESTE SITIO</h2>
		<p>Para comenzar <span class="hl">Cats.ai</span>, es una galería creada en <a href="https://rubyonrails.org/" target="_blank">Ruby On Rails</a>, utilizando la plantilla de <a href="https://html5up.net/lens" target="_blank">html5up.netlens</a> adaptandola con imagenes de gatos creados con inteligencia artificial de <a href="https://app.leonardo.ai/" target="_blank">Leonardo.ai</a> para transformarlas en imágenes sorprendentes. 
			La principal ventaja de utilizar Leonardo.ai es la facilidad de uso. Cualquiera puede utilizar esta plataforma, independientemente de sus habilidades técnicas o de diseño gráfico. Además, la inteligencia artificial de Leonardo.ai es capaz de crear imágenes sorprendentes en poco tiempo, lo que significa que podemos ser más eficientes y productivos en nuestras tareas de diseño.
		</p>
		<p>
			Crea una imagen surrealista utilizando la inteligencia artificial de Leonardo.ai.
			Transforma una imagen ordinaria en una obra de arte utilizando la plataforma.
		Crea una imagen inspirada en un movimiento artístico específico, como el impresionismo o el arte abstracto.</p>
	</article>

